body {
    font-family: "Karla", sans-serif;
    background-color: #181818;
}

ul {
list-style-type: none;
overflow: hidden;
}

li {
    float: right;
}

li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:14px;
}

li a:hover {
    text-decoration: underline;
}

.grid {
    height:23px;
    position:relative;
    bottom:4px;
}

.signbutton{
    background-color: #4885ed;
    color: #fff;
    border:none;
    border-radius:3px;
    padding:7px 10px;
    position:relative;
    bottom:7px;
    font-weight:bold;
}

.small-logo {
    max-height: 90px;
}

.space-between {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline {
    display: flex;
    align-items: center;
}

.centered {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.bar {
    display: flex;
    margin:0 auto;
    width:575px;
    height: 45px;
    border-radius:30px;
    border:1px solid #3950A2;
    justify-content: center;
    align-items: center;
}

.bar:hover{
    box-shadow: 1px 1px 8px 1px #3d3d3d;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #3d3d3d;
    outline:none;
}

.search_category{
    margin-left: 3%;
    height: 100%;
    width: 23%;
    background: none;
    color: #8b8b8b;
    margin-right: 2%;
    border-right: 1px solid #3950a2;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.searchbar{
    height:80%;
    border:none;
    width:68%;
    font-size:16px;
    outline: none;
    background-color: #181818;
    color: rgb(231, 231, 231);
}

.voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
}

.button{
    background-color: #3950A2;
    border:none;
    color: white;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}

.signbutton:hover {
    background-color: #2b70e7;
}

.button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#cacaca;
}

.button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
}

.search_result {
    color: rgb(216, 216, 216);
}

.search_result a {
    color: #3950A2;
}

/* Search result styles */

.results-area {
    position: relative;
    width: 90%;
    left: 5%;
}

.result {
    margin-left: 8px;
}

.result h2 {
    font-size: 19px;
    line-height: 18px;
    font-weight: normal;
    color: rgb(216, 216, 216);
    margin-bottom: 0px;
    margin-top: 25px;
}

.result a {
    font-size: 14px;
    line-height: 14px;
    color: #3498db;
    margin-bottom: 0px;
}

.result p {
    width: 625px;
    font-size: 13px;
    margin-top: 0px;
    color: #bdc3c7;
}