
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Helpdesk - 404</title>

    <link type="text/css" rel="stylesheet" href="{% static 'helpdesk_app/css/errors.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Titillium+Web:wght@700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>404</h1>
        </div>
        <h2>Oops — this page could not be found.</h2>
        <p>The page you're looking for has either been moved or removed from the site.</p>
        <a href="{% url 'home' %}">Go home</a>
      </div>
    </div>
  </body>
</html>
