{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block pageContent %}
    <div class="col-sm custom-grid">
        <div class="well">
            <div class="top-header">
                <div>
                    <h4 class="history-title">System Users</h4>
                </div>
                {% if user.is_superuser %}
                <div class="home-right">
                    <a href="{% url 'signup' %}">
                        <button class="btn btn-primary">Add new system user</button>
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="tools">
                <div class="left-menu">
                    <div class="dropdown" style="margin-right:10px">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter & Sort
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <h4>Filter by:</h4>
                            <form method="get">
                                {{myFilter.form}}
                                <button type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="{% relative_url 1 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_double_arrow_left</i></a>
                        <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_arrow_left</i></a>
                    {% else %}
                        <i class="material-icons md-48">keyboard_double_arrow_left</i>
                        <i class="material-icons md-48">keyboard_arrow_left</i>
                    {% endif %}&nbsp;
                    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                    {% if page_obj.has_next %}
                        <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_arrow_right</i></a>
                        <a href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}"><i class="material-icons md-48">keyboard_double_arrow_right</i></a>
                    {% else %}
                        <i class="material-icons md-48">keyboard_arrow_right</i>
                        <i class="material-icons md-48">keyboard_double_arrow_right</i>
                    {% endif %}
                </div>
            </div>

            {% include 'messages.html' %}

            {% if page_obj %}
                <div>
                    <ul class="data-frame">
                        <li class="data-item frame-header">
                            <dl class="data-grid-6">
                                <dt class = "rowheader">Username</dt>
                                <dd class = "rowheader">Email</dd>
                                <dd class = "rowheader">Description</dd>
                                <dd class = "rowheader">Last login (UTC)</dd>
                                <dd class = "rowheader">Date created (UTC)</dd>
                            </dl>
                        </li>
                        {% for r in page_obj %}
                            <li class="data-item">
                                <dl class="data-grid-6">
                                    <dd><a href="{% url 'account' id=r.id %}">{{ r.username }}</a></dd>
                                    <dd class="email">{{ r.email }}</dd>
                                    <dd class="description">{{ r.profile.description }}</dd>
                                    <dd class="last-login">{{ r.last_login }}</dd>
                                    <dd class="date-joined">{{ r.date_joined }}</dd>
                                </dl>
                            </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <i>more records on next pages...</i>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                No matching records. Try loosening your filters?
            {% endif %}
        </div>

    </div>
    <script>
        const btn = document.getElementById('id_o').nextElementSibling;
        btn.insertAdjacentHTML('beforebegin','<br/><br/>');
        document.getElementById('id_o').previousElementSibling.style.display = "none";
        document.getElementById('id_o').previousElementSibling.insertAdjacentHTML('beforebegin','<br/><br/><h4>Order by:<br/>');
        document.getElementById('id_updated').type = 'date';
    </script>
{% endblock %}