{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block pageContent %}
    <div class="col-sm custom-grid">
        <div class="well">
            <div class="top-header">
                <div>
                    <a href="TODO">View all resources</a>
                    <div class="tools"></div>  
                </div>
            </div>
            {% include 'messages.html' %}
            <form method="POST" id="form" style="width: 0%;"> {% csrf_token %}
                <div class="align-fields-general">
                    <h4 class="pad-me"><b>New resource</b></h4>
                    {% for field in form %}
                    <p>
                        <div class="align-labels">
                            {% if field.field.required %}
                                {{ field.label_tag }}
                                <div class="required-circle"><p class="required-circle-inner">Required</p></div>
                            {% else %}
                                {{ field.label_tag }}
                            {% endif %} <br/>
                        </div>
                        <div class="align-fields">
                            {{ field }} 
                        </div>
                    </p>
                    {% endfor %}
        
                </div>
                
                <div class="align-fields button-holder custom-margins"></div>
                    <br/>
                    <br/>
                    <button class="btn wide-btn btn-primary" type="submit" form="form">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock pageContent%}